= stripe_javascript_tag
%h2 Your Shopping Cart
%table.shopping-cart
  %tr
    %th Name
    %th Price
  - @cart.shopping_cart_items.each do |cart_item|
    %tr
      %td.product-name
        = cart_item.item.name
      %td.product-price
        = cart_item.item.price
        SEK

  %tr
    %th Total:
    %td
      = @cart.total
      SEK
= form_tag charges_path do
  = hidden_field_tag :cart_id, @cart.id
  %script.stripe-button{ src: 'https://checkout.stripe.com/checkout.js',
      data: {amount: @cart.total*100, description: 'Whatever', key: ENV['PUBLISHABLE_KEY'], currency: 'sek'}}
